---
import Container from "./Container.astro";
import CardEvent from "./CardEvent.astro";
---

<div class="flex justify-center items-center h-screen ">
  <Container><div class=" w-full  justify-center items-center">
    <div
          class="w-full mx-auto md:max-w-[max-content] flex flex-col md:gap-4"
        >
          <h1
            class="text-center md:text-left text-gray-900 font-medium text-3xl md:text-5xl"
          >
            We are,
          </h1>
          <h1
            class="text-center md:text-center text-primary font-bold text-4xl md:text-8xl"
          >
            FOSS Community
          </h1>
          <h1
            class="text-center md:text-right text-gray-900 font-medium text-3xl md:text-4xl"
          >
            of NSBM
          </h1>
        </div>
        <p class="mt-8 md:text-xl text-gray-700 text-center">
          Ensure Log to the Huly Platform <span class="text-primary"
            >Your GitHub Email</span
          > dedicated to Open Source Enthusiasts worldwide, fostering collaboration
          and innovation.
        </p>
     <div class="w-full flex justify-center pt-10"> <a href="https://huly.app/login/join?inviteId=673c2e2bf6c7bf03784efc4c" class="inline-block bg-gradient-to-r from-teal-400 to-blue-500 text-white text-lg font-semibold py-3 px-8 rounded-full shadow-lg transform transition-all hover:scale-105 hover:from-teal-500 hover:to-blue-600 hover:shadow-2xl">
      Access Project Management
    </a>
  </div>
  </div>
  </Container>
</div>
