---
import Container from "./Container.astro";
import CardEvent from "./CardEvent.astro";
---

<div class="pt-32 flex justify-center">
  <Container><div class="h-screen w-full  justify-center items-center">
    <h1>Welcome To The Foss Community 
    click here to our cotributuinn plat fom
    and make sure llog in same git hub email if not you will not be able to access the project management</h1>
     <div> <a href="https://huly.app/workbench/dialectic/tracker/all-projects" class="inline-block bg-gradient-to-r from-teal-400 to-blue-500 text-white text-lg font-semibold py-3 px-8 rounded-full shadow-lg transform transition-all hover:scale-105 hover:from-teal-500 hover:to-blue-600 hover:shadow-2xl">
      Access Project Management
    </a>
  </div>
  </div>
  </Container>
</div>
