---
import Container from "./Container.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40"
  >
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400">
    </div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300">
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-2/3 items-center mx-auto">
        <div
          class="w-full mx-auto md:max-w-[max-content] flex flex-col md:gap-4"
        >
          <h1
            class="text-center md:text-left text-gray-900 font-medium text-3xl md:text-5xl"
          >
            We are,
          </h1>
          <h1
            class="text-center md:text-center text-primary font-bold text-4xl md:text-8xl"
          >
            FOSS Community
          </h1>
          <h1
            class="text-center md:text-right text-gray-900 font-medium text-3xl md:text-4xl"
          >
            of NSBM
          </h1>
        </div>
        <p class="mt-8 md:text-xl text-gray-700 text-center">
          A truly vibrant and inclusive <span class="text-primary"
            >Open Source Community</span
          > dedicated to Open Source Enthusiasts worldwide, fostering collaboration
          and innovation.
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          
            {!session ?(

          <a
           href="/login"
          
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            data-astro-transition
            
            >

            <span class="relative text-base font-semibold text-white"
              >Become a volunteer</span >
          </a>
          

            ):
            
            
            (<div>
              <div class="flex justify-center w-full flex-col text-center gap-5">
               <h1 class=" text-gray-900 font-medium text-4xl">Welcome to the Foss Community</h1>
               <h2>{session.user?.name}</h2>
               <div class="w-full justify-center flex">
               <a href="#" class="relative flex h-11 w-full items-center justify-center  px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max" >
                        <span class="relative text-base font-semibold text-primary"
                          >Learn more</span>
                      </a>
                    </div>
              </div>
              
              
             
               
               
                   
               

            </div>

            )}
         


       
          
        </div>
        <div
          class="hidden py-8 mt-16 border-y border-gray-100 sm:flex justify-between"
        >
          <div class="text-left">
            <h6 class="text-2xl font-semibold text-gray-700">10+</h6>
            <p class="mt-2 text-gray-500 text-lg">Years of excellence</p>
          </div>
          <div class="text-left">
            <h6 class="text-2xl font-semibold text-gray-700">7+</h6>
            <p class="mt-2 text-gray-500 text-lg">Sub Communities</p>
          </div>
          <div class="text-left">
            <h6 class="text-2xl font-semibold text-gray-700">1000+</h6>
            <p class="mt-2 text-gray-500 text-lg">Volunteers with us</p>
          </div>
        </div>
      </div>
      <div
        class="mt-12 grid grid-cols-1 sm:grid-cols-4 md:grid-cols-7 items-center"
      >
        <div class="p-4 md:grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/communities/mozilla.webp"
            class="h-20 w-auto mx-auto"
            loading="lazy"
            alt="FOSS Community of NSBM - Mozilla Campus Club"
            width=""
            height=""
          />
        </div>
        <div class="p-4 md:grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/communities/croudsource.webp"
            class="h-20 md:h-22 w-auto mx-auto"
            loading="lazy"
            alt="FOSS Community of NSBM - Google Croudsource"
            width=""
            height=""
          />
        </div>
        <div
          class="p-4 flex md:grayscale transition duration-200 hover:grayscale-0"
        >
          <img
            src="./images/communities/devops.webp"
            class="h-9 w-auto m-auto"
            loading="lazy"
            alt="FOSS Community of NSBM - DevOps"
            width=""
            height=""
          />
        </div>
        <div class="p-4 md:grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/communities/wif.webp"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="FOSS Community of NSBM - Women in FOSS NSBM"
            width=""
            height=""
          />
        </div>
        <div
          class="p-4 flex md:grayscale transition duration-200 hover:grayscale-0"
        >
          <img
            src="./images/communities/devlab.webp"
            class="h-20 w-auto m-auto"
            loading="lazy"
            alt="FOSS Community of NSBM - DevLab"
            width=""
            height=""
          />
        </div>
        <div class="p-4 md:grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/communities/owasp.webp"
            class="h-20 w-auto mx-auto"
            loading="lazy"
            alt="FOSS Community of NSBM -  Open Worldwide Application Security Project"
            width=""
            height=""
          />
        </div>
        <div class="p-4 md:grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/communities/devoke.webp"
            class="h-20 w-auto mx-auto"
            loading="lazy"
            alt="FOSS Community of NSBM - Devoke"
            width=""
            height=""
          />
        </div>
      </div>
    </div>
  </Container>
</div>
