---
import Container from "./Container.astro";
import CardTestimonial from "./CardTestimonial.astro";
---

<div class="text-gray-600" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 md:text-4xl">
        We are just not a club, we are a <span class="text-primary">family</span
        >
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <CardTestimonial 
        image="https://avatar.iran.liara.run/public/boy?username=Ash"
        alt="user avatar"
        name="Wasath Theekshana"
        roll="Volunteer"
        testimonial="Volunteering with the FOSS Community of NSBM has been an incredibly rewarding experience. I've gained a deep understanding of free and open-source software while helping others discover its potential. From workshops to hackathons, every event has been a chance to learn and grow alongside a passionate community. I highly recommend getting involved!"
      />   
      <CardTestimonial 
        image="https://avatar.iran.liara.run/public/boy?username=nick"
        alt="user avatar"
        name="Dilantha Wijesinghe"
        roll="Volunteer"
        testimonial="NSBM's FOSS Community rocks! Volunteering boosted my FOSS knowledge and connected me with a supportive tech crew."
      />    
      <CardTestimonial 
        image="https://avatar.iran.liara.run/public/boy?username=mandy"
        alt="user avatar"
        name="Sanuda Jayasinghe"
        roll="Volunteer"
        testimonial="NSBM's FOSS Community? Amazing! Volunteering skyrocketed my FOSS knowledge while helping others discover its potential. Workshops, events, all fueled my passion for open source. Can't recommend it enough!"
      />
      <CardTestimonial 
        image="https://avatar.iran.liara.run/public/girl?username=alo"
        alt="user avatar"
        name="Nethmi Kodikara"
        roll="Volunteer"
        testimonial="As an NSBM grad, I have to say the FOSS Community was a highlight. Volunteering there transformed me from a curious student to a confident open-source advocate. Their workshops equipped me with valuable FOSS skills, and events fostered a collaborative spirit. It's the perfect place to learn, contribute, and connect with fellow tech enthusiasts. Miss those FOSS days!"
      />
      <CardTestimonial 
        image="https://avatar.iran.liara.run/public/girl?username=nick"
        alt="user avatar"
        name="Lithara Perera"
        roll="Volunteer"
        testimonial="As a volunteer, I learned tons about open-source software and met incredible tech folks. Workshops were awesome, and helping others with FOSS ignited a real passion. Definitely join if you get the chance!"
      />
      <CardTestimonial 
        image="https://avatar.iran.liara.run/public/boy?username=max"
        alt="user avatar"
        name="Yasith Silva"
        roll="Volunteer"
        testimonial="From NSBM newbie to FOSS fanatic, thanks to the FOSS Community! Volunteering was a blast workshops boosted my tech skills, and events connected me with a supportive crew. Sharing FOSS knowledge with others felt amazing. Miss it already!"
      />
    </div>
  </Container>
</div>
